@import security.SpongeAuthConfig
@import views.html.helper.form
@import views.html.helper.CSRF
@(sso: Option[String], sig: Option[String])(implicit config: SpongeAuthConfig, messages: Messages, flash: Flash,
        request: Request[_])

@bootstrap.layout(messages("general.signUp")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-signup">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("signup.title")</h4>
                    </div>
                    <div class="panel-body">
                        @utils.alert("error")

                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <script>
                            function onSignIn(googleUser) {
                                var profile = googleUser.getBasicProfile();
                                var username = profile.getName().replace(/ /g, '_').trim().substr(0, 20);
                                $('input[name="email"]').val(profile.getEmail()).prop('readonly', true);
                                $('input[name="username"]').val(username);
                                $('input[name="password"]').prop('required', false);
                                $('.input-password').hide();
                                $('\.2fa').hide();
                                $('input[name="google-id-token"]').val(googleUser.getAuthResponse().id_token);
                                gapi.auth2.getAuthInstance().signOut();
                                $('.g-signin2').remove();
                            }
                        </script>

                        @form(action = routes.Application.signUp()) {
                            @CSRF.formField

                            <input type="hidden" name="google-id-token" />

                            @utils.inputField("email", "signup.email") {
                                <input type="email" name="email" class="form-control" required />
                            }

                            @utils.inputField("username", "signup.username") {
                                <input type="text" maxlength="20" class="form-control" name="username" required />
                            }

                            @utils.inputField("password", "signup.password") {
                                <input type="password" class="form-control" name="password" required />
                            }

                            @utils.inputField("mc-username", "signup.mcUsername", optional = true) {
                                <input type="text" class="form-control" name="mc-username" />
                            }

                            @utils.inputField("irc-nick", "signup.ircNick", optional = true) {
                                <input type="text" class="form-control" name="irc-nick" />
                            }

                            @utils.inputField("gh-username", "signup.ghUsername", optional = true) {
                                <input type="text" class="form-control" name="gh-username" />
                            }

                            <div class="pull-left checkbox 2fa">
                                <label>
                                    <input type="checkbox" name="2fa" value="true" />
                                    @messages("signup.2fa")
                                </label>
                            </div>

                            <div class="pull-right">
                                <a href="@routes.Application.showLogIn(sso, sig)" class="btn btn-default">
                                    @messages("login.title")
                                </a>
                                <button id="btn-sign-up" type="submit" class="btn btn-primary">
                                    @messages("signup.title")
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
