@import controllers.routes.TwoFactorAuth
@import security.SpongeAuthConfig
@import security.totp.qr.RenderedQrCode
@(qr: RenderedQrCode, secret: String)(implicit messages: Messages, request: Request[_], config: SpongeAuthConfig,
        flash: Flash)

@bootstrap.layout(messages("2fa.setup.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("2fa.setup.title")</h4>
                    </div>

                    <div class="panel-body">
                        @utils.alert("error")

                        <p>@messages("2fa.setup.info")</p>
                        <img class="qr-totp" src="@qr.toDataUri()" />
                        @tfa.form(TwoFactorAuth.confirmTotp(), "2fa.code.info")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-totp-secret" tabindex="-1" role="dialog" aria-labelledby="label-totp-secret">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-totp-secret">@messages("2fa.secret.modal.title")</h4>
                </div>
                <div class="modal-body">
                    <p>@messages("2fa.secret.modal.body")</p>
                    <pre>@secret.toLowerCase</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}
