@import security.sso.SSOConfig
@import security.totp.qr.RenderedQrCode
@import controllers.routes.TwoFactorAuth
@(qr: RenderedQrCode)(implicit messages: Messages, request: Request[_], config: SSOConfig, flash: Flash)

@bootstrap.layout(messages("2fa.setup.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("2fa.setup.title")</h4>
                    </div>

                    <div class="panel-body">
                        @utils.alert("error")

                        <p>@messages("2fa.setup.info")</p>
                        <img class="qr-totp" src="@qr.toDataUri()" />
                        @tfa.form(TwoFactorAuth.confirmTotp(), "2fa.code.info")
                    </div>
                </div>
            </div>
        </div>
    </div>

}
