@import security.sso.SSOConfig
@import security.totp.qr.RenderedQrCode
@import views.html.helper.form
@(qr: RenderedQrCode)(implicit messages: Messages, request: Request[_], config: SSOConfig)

@bootstrap.layout(messages("2fa.setup.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("2fa.setup.title")</h4>
                    </div>
                    <div class="panel-body">
                        <p>@messages("2fa.setup.info")</p>
                        <img class="qr-totp" src="@qr.toDataUri()" />

                        @form(action = routes.Application.verifyTotp(), 'class -> "form-totp") {
                            <label for="totp">@messages("2fa.code.title")</label>
                            <input type="text" name="totp" class="form-control" />
                            <button class="btn btn-primary" type="submit">@messages("2fa.code.submit")</button>
                            <p><i>@messages("2fa.code.title")</i></p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
