@import security.sso.SSOConfig
@import controllers.routes.Application
@()(implicit config: SSOConfig, messages: Messages, flash: Flash, request: Request[_])

@bootstrap.layout(messages("login.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-signup">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("login.title")</h4>
                    </div>

                    <div class="panel-body">
                        @helper.form(action = Application.logIn()) {
                            @utils.alert("error")
                            @utils.alert("success")

                            @utils.inputField("username", "signup.username", info = false) {
                                <input type="text" maxlength="20" class="form-control" name="username" required />
                            }

                            <div class="user-input">
                                <label for="password">@messages("signup.password")</label>
                                <i>
                                    <a tabindex="-1" href="@Application.showPasswordReset(None)">
                                        @messages("signup.password.forgot")
                                    </a>
                                </i>
                                <input type="password" class="form-control" name="password" required />
                            </div>

                            <div class="pull-right">
                                <a href="@Application.showSignUp(None, None)" class="btn btn-default">
                                    @messages("signup.title")
                                </a>
                                <button type="submit" class="btn btn-primary">@messages("login.title")</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
