.panel-signup .panel-body {
  form { margin: 0; }
  div:not(:last-child) { margin-bottom: 10px; }
  i { color: gray; }
}

.qr-totp {
  display: block;
  margin: 0 auto;
}

.form-totp {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  input { margin: 0 auto; }
  input, button { width: 100px; }
  i { color: gray; }
}
