@import security.sso.SSOConfig
@import controllers.routes.Application
@(user: User, redirect: Option[String])(implicit config: SSOConfig, messages: Messages, request: Request[_])

@bootstrap.layout(messages("home.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("home.title")</h4>
                    </div>

                    <div class="panel-body">
                        <p>@messages("home.info", user.username)</p>
                        @redirect.map { r =>
                          <p>@messages("home.redirect")</p>
                          <script>
                              setTimeout(function() {
                                  window.location = '@redirect';
                              }, 3000)
                          </script>
                        }
                        <a href="@Application.logOut()" class="btn btn-primary pull-right">
                            @messages("home.logout")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
